@font-face {
    font-family: "LibreFranklin";
    font-style: normal;
    font-weight: 100;
    src: url("../../../assets/Franklin/LibreFranklin-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: italic;
    font-weight: 100;
    src: url("../../../assets/Franklin/LibreFranklin-ThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: normal;
    font-weight: 200;
    src: url("../../../assets/Franklin/LibreFranklin-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: italic;
    font-weight: 200;
    src: url("../../../assets/Franklin/LibreFranklin-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: normal;
    font-weight: 300;
    src: url("../../../assets/Franklin/LibreFranklin-Light.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: italic;
    font-weight: 300;
    src: url("../../../assets/Franklin/LibreFranklin-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: normal;
    font-weight: 400;
    src: url("../../../assets/Franklin/LibreFranklin-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: italic;
    font-weight: 400;
    src: url("../../../assets/Franklin/LibreFranklin-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: normal;
    font-weight: 500;
    src: url("../../../assets/Franklin/LibreFranklin-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: italic;
    font-weight: 500;
    src: url("../../../assets/Franklin/LibreFranklin-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: normal;
    font-weight: 600;
    src: url("../../../assets/Franklin/LibreFranklin-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: italic;
    font-weight: 600;
    src: url("../../../assets/Franklin/LibreFranklin-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: normal;
    font-weight: 700;
    src: url("../../../assets/Franklin/LibreFranklin-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: italic;
    font-weight: 700;
    src: url("../../../assets/Franklin/LibreFranklin-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: normal;
    font-weight: 800;
    src: url("../../../assets/Franklin/LibreFranklin-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: italic;
    font-weight: 800;
    src: url("../../../assets/Franklin/LibreFranklin-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: normal;
    font-weight: 900;
    src: url("../../../assets/Franklin/LibreFranklin-Black.ttf") format("truetype");
}

@font-face {
    font-family: "LibreFranklin";
    font-style: italic;
    font-weight: 900;
    src: url("../../../assets/Franklin/LibreFranklin-BlackItalic.ttf") format("truetype");
}

$font_franklin: "LibreFranklin", sans-serif;
