@use "./variables/index" as *;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $black;
  color: $white;
  font-family: $font_franklin;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: $tran-400;
  outline: solid rem(2px) transparent;
  &:focus-visible {
    outline-color: $gold;
  }
}

a {
  text-decoration: none;
  color: $gold;
  display: inline-block;
  transition: $tran-400;
  outline: solid rem(2px) transparent;
  outline-offset: rem(5px);
  &:focus-visible {
    outline-color: $gold;
  }
}

img {
  width: 100%;
  height: auto;
}

ol,
ul {
  all: unset;
  list-style-type: none;
}

p {
  margin: 0;
  letter-spacing: rem(0.2px);
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $font_cardo;
}

h1 {
  font-size: $font-32;
}

h2 {
  font-size: $font-24;
}

h3 {
  font-size: $font-18;
}

h4 {
  font-size: $font-16;
}

h5 {
  font-size: $font-14;
}

h6 {
  font-size: $font-12;
}
